{% extends 'base.html' %}

{% block title %}
SWAPI Content
{% endblock %}

{% block content %}
<h1>Star Wars Character Search</h1>

<form action='/search', method='GET'>
    <fieldset>
        <h3>Please choose the Star Wars Character you would like to get more information about!</h3>
        <label>Enter character ID: </label>
        <input type="text" name="choice">
        <input type="submit" value="Proceed">
    </fieldset>
</form>

<section id="results">
   {% if detail == 'Not found' %}
   <p>Invalid ID #. Try again!</p>
   {% else %}
    <p>Name: {{name}}</p>
    <p>Height: {{height}}</p>
    <p>Mass: {{mass}}</p>
    <p>Hair Color: {{hair_color}}</p>
    <p>Eye Color: {{eye_color}}</p>
    {% endif %}
    {% for film in films %}
    <p>Film name(s): {{film}}</p>
    {% endif %}
</section>

{% end block %}